<ion-header>
  <ion-navbar>
    <ion-buttons start> 
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Films</ion-title>
    <ion-buttons end> 
      <button ion-button (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>  
</ion-header>

<ion-content>
  <!-- Buscador -->
  <ion-toolbar no-border class="search-toolbar" *ngIf="showSearchbar">
    <ion-searchbar
      [(ngModel)]="querySearch"
      (ionInput)="searchFilms($event)">
    </ion-searchbar>
  </ion-toolbar>  
  <!-- Mensaje de sin resultado y botón a formulario de creación -->
  <ion-row *ngIf="films.length === 0">
    <ion-col>
      <div class="info-message" text-center>
        No se ha encontrado ninguna película con los criterios seleccionados
      </div>
    </ion-col>
  </ion-row>
  <!-- Listado de elementos -->
  <ion-list class="list-items" *ngFor="let film of films">
    <ion-card (click)="goToFilm(film.id)">
      <img src="{{ film.poster_path | assets }}">
      <ion-card-content>
        <ion-card-title>
          {{film.title}}
        </ion-card-title>
        <p>
          {{film.overview}}
        </p>
      </ion-card-content>
    </ion-card>    
  </ion-list>
  <!-- Para hacer scroll "infinito" del listado -->
  <ion-infinite-scroll (ionInfinite)="nextPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>